<footer class="site-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h3>Support Telephonique</h3>
          <p>24h/7j Appelez nous.</p>
          <p class="lead"><a href="tel:+ 1 332 3093 323">+ 1 332 3093 323</a></p>
          <p class="lead"><a href="tel:+235 68 67 78 12">+235 68 67 78 12</a></p>
        </div>
        <div class="col-md-4">
          <h3>Restez connecter avec nous</h3>
          <p> Suivez-nous sur les reseaux sociaux</p>
          <p>
            <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
            <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
            <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Restez connecter</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, odio.</p>
          <form action="#" class="subscribe">
            <div class="form-group">
              <button type="submit"><span class="ion-ios-arrow-thin-right"></span></button>
              <input type="email" class="form-control" placeholder="Entrez votre email">
            </div>
            
          </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          &copy; 
Copyright &copy; {{datenow}} All rights reserved  | Miramar Hotel

        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->