<!-- ================ special section start ================= -->
<section class="section-padding bg-porcelain">
    <div class="container">
      <div class="section-intro text-center pb-80px">
        <div class="section-intro__style">
          <img src="../assets/images/bed-icon.png" alt="">
        </div>
        <h2>Special Facilities</h2>
      </div>
      <div class="special-img mb-30px">
        <img class="img-fluid" src="../assets/images/special.png" alt="">
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card card-special">
            <div class="media align-items-center mb-1">
              <span class="card-special__icon"><span class="fa fa-home"></span></span>
              <div class="media-body">
                <h4 class="card-special__title">Conference Room</h4>
              </div>
            </div>
            <div class="card-body">
              <p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card card-special">
            <div class="media align-items-center mb-1">
              <span class="card-special__icon"><i class="fa fa-bell"></i></span>
              <div class="media-body">
                <h4 class="card-special__title">Swimming Pool</h4>
              </div>
            </div>
            <div class="card-body">
              <p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card card-special">
            <div class="media align-items-center mb-1">
              <span class="card-special__icon"> <span class="fa fa-car"></span></span>
              <div class="media-body">
                <h4 class="card-special__title">Sports Culb</h4>
              </div>
            </div>
            <div class="card-body">
              <p>Built purse maids cease her ham new seven among and. Pulled coming wooded tended it answer remain</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ special section end ================= -->