<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(../assets/images/big_image_1.jpg);">
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-12 text-center">

          <div class="mb-5 element-animate">
            <h1>Reservation</h1>
            <p>Découvrez notre monde #1 Chambre de luxe pour VIP.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-5">Formulaire de Reservation</h2>
              <form (ngSubmit)="onSubmitBook(f)" #f="ngForm">
                <div class="row">
                    <div class="col-sm-6 form-group"> 
                        <label for="">Date d'Arrivée</label>
                        <p *ngIf="errorMessage && errorMessage.arrival_date_hour" style="color: rgb(255, 145, 0); font-size: x-small;">{{errorMessage.arrival_date_hour}}</p>
                        <div style="position: relative;" class="datetimepicker" id='arrival_date' data-target-input="nearest">
                          <span class="fa fa-calendar icon" style="position: absolute; right: 10px; top: 10px;"></span>
                          <input name="arrival_date_hour" type='text' class="form-control datetimepicker-input" data-target="#arrival_date" data-toggle="datetimepicker" autocomplete="off"  ngModel/>
                        </div>

                    </div> 
                    
        
                    <div class="col-sm-6 form-group">
        
                        <label for="">Date de Depart</label>
                        <p *ngIf="errorMessage && errorMessage.departure_date_hour" style="color: rgb(255, 145, 0);font-size: x-small;">{{errorMessage.departure_date_hour}}</p>
                        <div style="position: relative;" class="datetimepicker" id='departure_date' data-target-input="nearest">
                          <span class="fa fa-calendar icon" style="position: absolute; right: 10px; top: 10px;"></span>
                          <input name="departure_date_hour" type='text' class="form-control datetimepicker-input" data-target="#departure_date" data-toggle="datetimepicker" autocomplete="off" ngModel/>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="room">Chambre</label>
                    <p *ngIf="errorMessage && errorMessage.chambre" style="color: rgb(255, 145, 0); font-size:small">Choisir correctement !</p>
                    <select data-bs-spy="scroll" name="chambre" id="room" class="form-control" title="Choisir une chambre" ngModel>
                      <option value="" disabled>Choisir une chambre</option>
                      <option *ngFor="let room of rooms; let i=index" [ngValue]="room.id" >{{room.name}} -({{room.price}}€)</option>
                    </select>
                  </div>

                  <div class="col-md-6 form-group" >
                    <label for="room">Personnes</label>
                    <p *ngIf="errorMessage && errorMessage.guests" style="color: rgb(255, 145, 0); font-size:small">{{errorMessage.guests[0]}}</p>
                    <select data-bs-spy="scroll" name="guests" id="room" class="form-control" ngModel required >
                      <option value="" disabled>Nombre de personnes</option>
                      <option  value="1" selected>1 personne</option>
                      <option value="2">2 personnes</option>
                      <option value="3">3 personnes</option>
                      <option value="4">4 personnes</option>
                      <option value="6">5+ personnes</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="name">Nom</label>
                    <p *ngIf="errorMessage && errorMessage.name" style="color: rgb(255, 145, 0); font-size:small">{{errorMessage.name[0]}}</p>
                    <input name="name" type="text" id="name" class="form-control " ngModel required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="email">Email</label>
                    <p *ngIf="errorMessage && errorMessage.email" style="color: rgb(255, 145, 0); font-size:small">{{errorMessage.email[0]}}</p>
                    <input name="email" type="email" id="email" class="form-control " ngModel required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="phone">Phone</label>
                    <p *ngIf="errorMessage && errorMessage.phone" style="color: rgb(255, 145, 0); font-size:small">{{errorMessage.phone[0]}}</p>
                    <br>
                    <ngx-intl-tel-input 
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [selectedCountryISO]="CountryCode"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                
                [tooltipField]="TooltipLabel.Name"
                [phoneValidation]="true"
                initialCountry="auto"
                geoIpLookup="geoIp()"
                [separateDialCode]="separateDialCode"
                name="phone" ngModel required>
              </ngx-intl-tel-input>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label for="message">Ecrire une Note (optionnel)</label>
                    <p *ngIf="errorMessage && errorMessage.note" style="color: rgb(255, 145, 0);">{{errorMessage.note[0]}}</p>
                    <textarea name="note" id="message" class="form-control " cols="30" rows="8" ngModel></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <button class="btn btn-primary custom__btn" type="submit" [disabled]="f.invalid">
                      <span [hidden]="!isLoad"  class="load-container reserve-load" role="status" aria-hidden="true"></span>
                      <span>Je Reserve</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5" *ngIf="roomPromo">
              <h3 class="mb-5">En vedette</h3>
              <div class="media d-block room mb-0">
            <figure>
              <img src="{{ roomPromo.photo }}" alt="{{roomPromo.name}}" class="img-fluid">
              <div class="overlap-text">
                <span *ngFor="let cat of categories">
                  <span *ngIf="cat.id === roomPromo.category">
                    {{ cat.name }}
                  <span class="ion-ios-star"></span>
                  <span class="ion-ios-star"></span>
                  <span class="ion-ios-star"></span>
                </span>
                  
                </span>
              </div>
            </figure>
            <div class="media-body">
              <h3 class="mt-0"><a href="#">{{roomPromo.name}}</a></h3>
              <ul class="room-specs">
                <li><span class="ion-ios-people-outline"></span> {{roomPromo.guests}} personnes</li>
                <li><span class="ion-ios-crop"></span> {{roomPromo.surface}} m <sup>2</sup></li>
              </ul>
              <p>Nulla vel metus scelerisque ante sollicitudin. Fusce condimentum nunc ac nisi vulputate fringilla. </p>
              <p><a routerLink="/reservation/{{roomPromo.id}}" class="btn btn-primary btn-sm">Reserver pour {{roomPromo.price}}€</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- END section -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title mx-auto" id="exampleModalLabel">Verification </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Vous avez déja une reservation en cours à cette date. <br>Voici les détails</h6>
            
          
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Reservation N<sup>O</sup> {{bookingUpdate.id}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Date d'arrivée : {{bookingUpdate.arrival_date_hour | date:'short'}}</td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Date de départ : {{bookingUpdate.departure_date_hour | date:'short'}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
  
                <td>Pour {{bookingUpdate.guests}} personnes</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Prix {{bookingUpdate.price}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Au nom de : {{clt.name}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
        </div>
        <div class="modal-footer mx-auto">
          <button (click)="onClickUpdate()" class="btn btn-primary btn-sm" data-dismiss="modal">Mettre jour</button>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <app-holiday></app-holiday>