<header role="banner">
     
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" routerLink>MIRAMAR HOTEL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
          <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
            <li class="nav-item">
              <a class="nav-link " routerLink="" routerLinkActive="active">Accueil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLinkActive="active" routerLink="/chambres" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chambres</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" routerLink="/chambres">Vidéos des chambres</a>
                <a class="dropdown-item" routerLink="/chambres">Chambre présidentielle</a>
                <a class="dropdown-item" routerLink="/chambres">Salon VIP</a>
              </div>

            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/evenements" routerLinkActive="active">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="apropos" routerLinkActive="active">A Propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contactez-nous" routerLinkActive="active">Contact</a>
            </li>

             <li class="nav-item cta">
              <a class="nav-link" routerLink="/reservation" routerLinkActive="active"><span>Reserver</span></a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>
  <!-- END header -->