<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(../assets/images/big_image_1.jpg);">
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-12 text-center">

          <div class="mb-5 element-animate">
            <h1>A Propos de Miramar Hotel</h1>
            <p>Découvrez notre monde #1 Chambre de luxe pour VIP.</p>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="site-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="heading-wrap  element-animate">
            <h4 class="sub-heading">Séjournez dans nos chambres</h4>
            <h2 class="heading">Notre histoire</h2>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo similique natus, a recusandae? Dolorum, unde a quibusdam est? Corporis deleniti obcaecati quibusdam inventore fuga eveniet! Qui delectus tempore amet!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo similique natus, a recusandae? Dolorum, unde a quibusdam est? Corporis deleniti obcaecati quibusdam inventore fuga eveniet! Qui delectus tempore amet!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illo similique natus, a recusandae? Dolorum, unde a quibusdam est? Corporis deleniti obcaecati quibusdam inventore fuga eveniet! Qui delectus tempore amet!</p>

          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <img src="../assets/images/f_img_1.png" alt="Image placeholder" class="img-md-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <app-domain></app-domain>
 
  <app-avisclient></app-avisclient>
  
  <section class="site-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 heading-wrap text-center">
          <h4 class="sub-heading">Notre aimable personnel</h4>
            <h2 class="heading">Notre Personnel</h2>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4">
          <div class="post-entry">
            <img src="../assets/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">DG</div>
              <h3 class="mb-3"><a href="#">Michelle Aline</a></h3>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Lire Bio</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="../assets/images/person_2.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">Personnel</div>
              <h3 class="mb-3"><a href="#">Pascal Masra</a></h3>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Lire Bio</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="post-entry">
            <img src="../assets/images/person_3.jpg" alt="Image placeholder" class="img-fluid">
            <div class="body-text">
              <div class="category">Cuisinier</div>
              <h3 class="mb-3"><a href="#">Rob McDonald</a></h3>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum deserunt illo quis similique dolore voluptatem culpa voluptas rerum, dolor totam.</p>
              <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Lire Bio</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

 
  <app-holiday></app-holiday>

  <section class="section-margin">
    <div class="container">
      <!-- google map start -->
      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 420px;"></div>
        <!-- <script>
          function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var grayStyles = [
              {
                featureType: "all",
                stylers: [
                  { saturation: -90 },
                  { lightness: 50 }
                ]
              },
              {elementType: 'labels.text.fill', stylers: [{color: '#A3A3A3'}]}
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -31.197, lng: 150.744},
              zoom: 9,
              styles: grayStyles,
              scrollwheel:  false
            });
          }
          
        </script> -->
        <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script> -->
        
      </div>
      <!-- google map end -->