<!-- ================ carousel section start ================= -->
<section class="section-margin">
    <div class="container">
      <div class="section-intro text-center pb-20px">
        <div class="section-intro__style">
          <img src="../assets/images/bed-icon.png" alt="">
        </div>
        <h2>Nos clients nous aiment</h2>
      </div>
      <div class="owl-carousel owl-theme testi-carousel">
        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial1.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Damian Kaly</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial2.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Moustapha</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial3.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Adam Pallin</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial1.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Georges Floyd</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial2.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Patric Dubois</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
          <div class="media">
            <div class="testi-carousel__img">
              <img src="../assets/images/testimonial3.png" alt="">
            </div>
            <div class="media-body">
              <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
              <div class="testi-carousel__intro">
                <h3>Mark Asra</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="testi-carousel__item">
            <div class="media">
              <div class="testi-carousel__img">
                <img src="../assets/images/testimonial1.png" alt="">
              </div>
              <div class="media-body">
                <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
                <div class="testi-carousel__intro">
                  <h3>Robert Mack</h3>
                </div>
              </div>
            </div>
          </div>
  
          <div class="testi-carousel__item">
            <div class="media">
              <div class="testi-carousel__img">
                <img src="../assets/images/testimonial2.png" alt="">
              </div>
              <div class="media-body">
                <p>Incidunt deleniti blanditiis quas aperiam recusandae consillo ullam quibusdam cum libero illo repell endus!</p>
                <div class="testi-carousel__intro">
                  <h3>Jean Mark</h3>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- ================ carousel section end ================= -->